<div class="new-shop">
  {{input value=name placeholder="name"}}<br>
  {{input value=description placeholder="description"}}<br>
  {{input value=image placeholder="image"}}<br>
  <button {{action 'save'}}>save</button>
</div>
