
<div class="new-review">
  {{input value=author placeholder="author"}}<br>
  {{input value=body placeholder="body"}}<br>
  {{input value=rating placeholder="rating"}}<br>
  <button {{action 'save'}}>save</button>
</div>
