
body{
  background-color: yellow;
}
.height-control {
  height: 1000px;
}
.shops-list {
  background-color: purple;
}
.shop-container {
  background-color: orange;
  overflow: auto;
}

.shop-tile {
  background-color: red;
  height: 150px;
}

.new-shop {
  background-color: pink;
  margin-top: 30px;
}

.hero {
  width: 80%;
}

.img-center {
  text-align: center;
}

.header {
  text-align: center;
}

.favorites {
  width: 200px;
  height: 200px;
  border: 10px solid;
  background: white;
  position: absolute;
  top: 0;
  right: -30px;
  border-radius: 50%;
  text-align: center;

}

.big {
  position: absolute;
  top: 10px;
  right: 13px;
  font-size: 12em;
  color: red;
}

a {
  color: black;
}
