<div class="container">
  <div class="row">
    <div class="col-sm-5 height-control shops-list">
      {{all-fav-alternator model=model}}
      <div class="row">
        <div class="col-sm-12">
          {{new-shop saveShop="saveShop"}}
        </div>
      </div>
    </div>
    <div class="col-sm-7 height-control shop-container">
      {{outlet}}
    </div>
  </div>
</div>
